// app/assets/stylesheets/_layout.scss

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set container's height to 100vh */
    overflow: visible;
  }
  
  
  .profile {
    margin-bottom: 20px; /* Add space between image and links */
  }
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Add horizontal spacing between links */
    align-items: center; /* Center links horizontally */
  }
  
  .links {
    display: flex;
    flex-direction: row; /* Align links horizontally */
    justify-content: center; /* Center links horizontally */
    align-items: center;
  }
  

  .links a {
    margin: 0 10px; /* Add horizontal spacing between links */
  }

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(224, 224, 224, 0.8); /* Change the background color to match your design */
    padding: 20px 0; /* Add padding to the top and bottom */
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
  }
  
  .button {
    display: inline-block;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    background-color: #E0E0E0; /* Transparent background for the buttons */
    color: #333;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    border-radius: 30px;
    margin: 0 75px;
    transition: background-color 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  


  .button:hover {
    background-color: #beb5d6;
  }
  